html{
    max-height: 100vh;
}
body{
    display: flex;
    justify-content: space-between;
    background-color: lightblue;
    position: relative;
	color: #555555;
    min-height: 100vh;
	margin: auto 0;
}
a {
    text-decoration: none;
}
/*Header Navigation Bar*/
header .navbar{
    width: auto;
    height: auto;
}

header .navbar-nav {
    text-transform: uppercase;
    font-weight: bold;
}

header .nav-link:hover,.nav-link:active, .nav-link:focus {
    color: black !important;
}

header .srchbar {
    border-bottom: 1px solid gray!important;
}

header .cart_icon{
    color: #434f61;
}

/* Main */
.content-wrapper {
    padding-top: 150px;
    margin: 0 auto;
}

main .products-wrapper{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    background-color: aliceblue; 
}


/* Product */
main  .product {
    display: block;
    text-align: center;
    margin:20px 20px 20px 20px ;
    width: 25%;
    height: auto;
    overflow: visible;
}
main  .product:hover {
    background-color: rgb(230, 224, 224);
    border-radius: 10px ;
}
main  .product img {
    display: block;
    margin: auto;
    max-width: 35%;
    max-height: 35%;
}
main  .product p {
    max-width: 15rem;
    margin: auto;
	font-size: calc(5px + 1vw);
	font-weight: normal;
    color: black;
    display: block;
}
main .product .price {
	font-size: calc(10px + 0.70vw);
    margin-top: 5px ;
	color: #999999;
    text-align: left;
}
main .product .description {
    display: block;
    float: left;
}

/* Product Page */
.productpage {
    display: flex;
    background-color: rgb(51, 187, 187);
    height: 60vh;
}
#productpage_left, #productpage_right {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    width: 50%;
    margin-top: auto;
    margin-bottom: auto;
}
.productpage img {
    display: block;
    max-width: 80%;
    max-height: 80%;
}
.productpage h1 {
    margin-top: auto;
	font-size: calc( 30px + 1vw);
    text-transform: capitalize;
    color: black;
}
.productpage h2 {
	font-size: calc( 15px + 1vw);
	text-transform: capitalize;
	margin-top: 60px;
    color: black;
}
.productpage button{
    display: block;
    width: 100px;
    margin: auto;
}


/*Pagination Buttons */
main > .products .buttons a {
	display: inline-block;
	text-decoration: none;
	margin-left: 5px;
	padding: 12px 20px;
	border: 0;
	background: #4e5c70;
	color: #FFFFFF;
	font-size: 14px;
	font-weight: bold;
	border-radius: 5px;
}
main > .products .buttons a:hover {
	background: #434f61;
}
main > .products .buttons {
	text-align: right;
	padding-bottom: 100px;
}

/* Shopping Cart */
main .cart h1 {
    text-align: center;
}
main .cart table td {
    text-align: center;
    padding: 35px;
}
main .cart table a {
    color: #4e5c70;
}
main .cart table tr {
    border-bottom: 1px solid black ;
}

main .cart .subtotal {
    padding-top: 10px;
    text-align: right;
}


/* Footer*/
footer {
    border-top: 1px solid gray !important;
}

