html{
    max-height: 100vh;
}
body{
    display: flex;
    justify-content: space-between;
    background-color: lightblue;
    position: relative;
	color: #555555;
    min-height: 100vh;
	margin: auto 0;
}
a {
    text-decoration: none;
}
/*Header Navigation Bar*/
header .navbar{
    width: auto;
    height: auto;
}

header .navbar-nav {
    text-transform: uppercase;
    font-weight: bold;
}

header .nav-link:hover,.nav-link:active, .nav-link:focus {
    color: black !important;
}

header .srchbar {
    border-bottom: 1px solid gray!important;
}

/* Main */
.content-wrapper {
    padding-top: 150px;
    max-width: 600px;
    margin: 0 auto;
}

main .products .products-wrapper{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    background-color: aliceblue;
    height: auto;
    width: auto;   
}

/* Product */
main  .product {
    display: block;
    justify-content: space-between;
    margin:20px 20px 20px 20px ;
    max-width: 300px;
    max-height: 300px;
    width: auto;
    height: auto;
}
main  .product img {
    display: block;
    margin: auto;
    height: auto; 
    width: auto; 
    max-width: 100px;
    max-height: 100px;
}
main  .product h1 {
    display: block;
	font-size: calc(10px + 1vw);
	font-weight: normal;
    width: auto;
	margin: 0;
	padding: 20px 20px 10px 0;
    color: black;
}
main .product .price {
	display: block;
	font-size: calc(10px + 0.70vw);
    margin-top: 5px ;
	color: #999999;
    float: left;
}
main .product .description {
    display: block;
    float: left;
}

/* Product Page */
main .productpage {
    display: flex ;
    flex-direction: row;
    max-width: 1200px;
    max-height: 900px;
    background-color: lightcyan;
}
main .productpage img {
    display: block;
    margin: auto;
    max-width: 400px;
    max-height: 400px;
}
main  .productpage h1 {
	font-size: calc( 30px + 1vw);
    text-transform: capitalize;
	margin: 0;
	padding: 20px 20px 10px 0;
    color: red;
}
main .productpage button{
    display: block;
    width: auto;
    height: auto;
}
main .productpage h2 {
    display: block;
	font-size: calc( 15px + 1vw);
	text-transform: capitalize;
	margin-top: 80px;
    color: red;
}


/*Pagination Buttons */
main > .products .buttons a {
	display: inline-block;
	text-decoration: none;
	margin-left: 5px;
	padding: 12px 20px;
	border: 0;
	background: #4e5c70;
	color: #FFFFFF;
	font-size: 14px;
	font-weight: bold;
	border-radius: 5px;
}
main > .products .buttons a:hover {
	background: #434f61;
}
main > .products .buttons {
	text-align: right;
	padding-bottom: 100px;
}
/* Footer*/
footer {
    border-top: 1px solid gray !important;
}

